<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intent">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- service 예제 구현으로 permission 추가 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 파일입출력 예제 구현으로 추가 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ong_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MaterialDesignActivity"></activity>
        <activity android:name=".activity.TweenAnimationActivity" />
        <activity android:name=".activity.FrameAnimationActivity" />
        <activity android:name=".activity.FileInOutActivity" />
        <activity android:name=".activity.LayouyInflaterActivity" />

        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.example.intent.MyContentProvider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.MusicActivity" />

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.FirebaseInstanceService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAn-1krtVvFCHtf4zJXs8afNI_2A6HeDPM" /> <!-- kakao navi 추가 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".activity.DustMapActivity" />
        <activity android:name=".activity.ImageClickActivity" />
        <activity android:name=".activity.LifeCycleActivity" />
        <activity android:name=".activity.SubActivity" />
        <activity android:name=".activity.RecycleStaggereViewActivity" />
        <activity android:name=".activity.RecycleGridViewActivity" />
        <activity android:name=".activity.DustViewActivity" />
        <activity android:name=".activity.RecycleViewActivity" />
        <activity android:name=".activity.ListViewActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- BroadcastReceiver 예제로 추가 -->
        <receiver
            android:name=".Receiver.MyBroadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>
    </application>

</manifest>